!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Lato", :rel => "stylesheet"}/
    :sass
      *
        margin: 0
        padding: 0
        border: 0

      html, body
        height: 100%
        width: 100%
        overflow: hidden
        font-family: 'Lato', sans-serif

      #header
        height: 105px
        position: relative
        top: 0
        right: 0
        bottom: 0
        left: 0
        color: white
        font-weight: 600
        font-size: 12px
        background: #0e0e37
        padding: 15px 0px
        border-top-left-radius: 4px
        border-top-right-radius: 4px

      #information
        height: 280px
        position: relative
        top: 0
        right: 0
        bottom: 0
        left: 0
        background-color: #1e1e22
        background-image: url("http://img.fenixzone.net/i/H2L5lSF.png")
        background-position: center
        background-size: cover
        background-repeat: no-repeat
        padding: 5px 20px
        border-top: 1px dashed darkgray
        border-bottom: 1px dashed darkgray

      #footer
        height: 25px
        position: relative
        top: 0
        right: 0
        bottom: 0
        left: 0
        background: #0e0e37
        padding: 10px 0px 0px 0px
        border-bottom-right-radius: 4px
        border-bottom-left-radius: 4px

      #banner
        height: 80px
        width: 200px
        margin: 0 auto
        background: url("http://img.fenixzone.net/i/NO6ZsEy.png")
        background-position: center
        background-size: 85%
        background-repeat: no-repeat
        img
          width: 100%
          height: 100%
          padding: 0
          margin: 0
          border: 0

      #box-mailer
        width: 720px
        height: auto
        position: relative
        top: 0
        right: 0
        left: 0
        bottom: 0
        margin: 2px auto 50px auto

      span
        &.item
          line-height: 2
          color: white
          font-weight: 500
          line-height: 2
          font-size: 15px
          letter-spacing: 2px
        &.data
          padding: 0px 1px
          font-size: 15px
          font-weight: 500
          color: white
          font-weight: 500
        &#title-item
          color: white
          text-align: center
          display: block
          font-size: 16px
          font-weight: bold
          font-family: sans-serif
          letter-spacing: 1px
          text-transform: uppercase
          line-height: 2
        &#credits
          text-align: center
          color: white
          font-size: 12px
          display: block

      ul
        list-style: none !important

      span > a
        color: white !important
        padding: 0px 5px
        font-size: 15px
        font-weight: 500
        color: white
        font-weight: 500
        text-decoration: none

      span.company
        text-align: center
        line-height: 2
        font-size: 12px
        font-weight: bold
        font-style: normal
        display: block
        letter-spacing: 5px
        color: white
        text-transform: uppercase

      p#alert
        color: #F44336
        background: transparent
        text-align: center
        padding: 10px
        font-size: 12px
        font-weight: 600
        letter-spacing: 1px

      h3
        &#title-information
          text-align: center
          color: white
          line-height: 3
          text-transform: uppercase
          letter-spacing: 2px
          font-weight: bold
          font-family: sans-serif
        &#title-mailer
          text-align: center
          color: white
          margin: 10px 0px

  %body
    #box-mailer
      #header
        #banner
        %h3#title-mailer Representaciones e Inversiones Medina C. A.
      #information
        %h3#title-information Notificación
        %ul
          %li
            %span#title-item Datos Personales
          %li
            %span.item Fecha de Solicitud:
            %span.data 
              = Date.today.strftime("%d/%m/%Y")
          -# %li
          -#   %span.item Nombre:
          -#   %span.data
          -#     = @client.name
          %li
            %span.item Correo Electrónico:
            %span.data 
              = @client.email
          %li
            %span.item Teléfono:
            %span.data 
              = @client.phone
          %li
            %span.item Empresa:
            %span.data
              = @client.company

        %p#alert 
          = "Estimado(a), le notificamos que ha recibido una solicitud de #{@client.name}."
        %span.company -Construyendo futuro-
      #footer
        %span#credits Copyright © 2018 - Reimca.com - Todos los Derechos Reservados - Powered by Slice Group